.discussion__wrapper{
    display: flex;
    flex-direction: column;
}

.discussion__messages{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    height: 100%;
}

.discussion__header{
    display: flex;
    align-items: center;
    padding: 10px 0 15px;
    border-bottom: 1px solid #EAEAEA;
}

.discussion__header h2{
    margin-left: 15px;
}

.header__menu{
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.header__menu:hover{
    font-size: 1.5em;
}

.discussion__input{
    padding: 20px;
    display: flex;
    flex-basis: 0;
}

.discussion__input input {
    margin: 0 15px;
    border-radius: 20px;
    padding: 7px 10px;
    outline: #f9f9f9;
    background-color: #EFEFEF;
    flex-grow: 1;
}
