.chats__addChat form {
  display: flex;
  flex-basis: 0;
  align-items: center;
}

.chats__addChat form>.form-control:first-child {
  width: 100%;
  margin-right: 20px;
}

.chats__addChat input {
  width: 100%;
  background-color: var(--color-gray-219);
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 20px;
}

.chats__addChat button {
  padding: 7px;
  background-color: var(--color-lightskyblue);
  margin: 0 10px;
  cursor: pointer;
  border-radius: 10px;
}
