:root{
    --color-white: #FFFFFF;
    --color-light-gray: #FBFBFB;
    --color-gray: #999999;
    --color-blue: #3369F3;
    --color-red: #FF0000;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
}

ul, li, h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}

input, button{
    border: none;
    outline: none;
}

#app{
    display: flex;
}

.color-red{
    color: var(--color-red);
}

.color-blue{
    color: var(--color-blue);
}