.chats__wrapper{
    background: var(--color-gray-242);
    width: 400px;
    height: 100vh;
}

.chats__item{
    width: inherit;
}

.search__item{
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.search__input{
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 20px;
    width: 100%;
}

.search__input input{
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-219);
    border-radius: 5px;
    padding: 10px 40px 10px 10px;
}

.search__btn{
    position: absolute;
    right: 10px;
    background-image: url("../../../public/search.png");
    width: 24px;
    height: 22px;

    background-color: transparent;
}

.commands_item{
    background-image: url(/public/Settings.png);
    width: 42px;
    height: 32px;
    cursor: pointer;
    margin-right: 15px;
    background-position: center;
    background-repeat: no-repeat;
}
