.chats__item {
  width: inherit;
}

.search__item {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.search__input {
  position: relative;
  margin: 10px 20px;
  width: 100%;
}
